
*, h1, h2, h3, h4, h5, h6{
  /* src: url("https://fonts.googleapis.com/css?family=Amatic+SC"); */
  /* font-family: 'Cute Font', cursive; */
  font-family: 'Amatic SC', cursive;
  font-size: 25px
}

body {
  /* background-color: teal; */
  background-image: url("https://dingo.care2.com/pictures/causes/3178/3177835.large.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 800px;
  width: 100%;
  position: relative;
}

.App {
  text-align: center;
}

@font-face {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.img {
  height: 200px;
  width: 200px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.error {
  background: url("https://www.graziame.com/sites/default/files/graziame/styles/1140_630_wide_landscape/public/images/2019/03/13/dustan-woodhouse-675082-unsplash.jpg?itok=cC7oDM6M")
  no-repeat fixed;
  background-size: cover;
  height: 800px;
  width: 100%;
  position: relative;
}
