
*, h1, h2, h3, h4, h5, h6{
  /* src: url("https://fonts.googleapis.com/css?family=Amatic+SC"); */
  /* font-family: 'Cute Font', cursive; */
  font-family: 'Amatic SC', cursive;
  font-size: 25px
}

body {
  /* background-color: teal; */
  background-image: url("https://images.unsplash.com/photo-1433185000771-ec45c869c61b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 200px;
}

.App {
  text-align: center;
}

@font-face {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.img {
  height: 200px;
  width: 200px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
