body {
  margin: 0;
  padding: 0;
  /* font-family: 'Amatic SC', cursive; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Cute Font', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
 @font-face {
   font-family: 'Amatic SC', cursive;
 }
